.container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
}

.containerRow {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.guestName {
  color: rgba(0, 0, 0, 0.8);
  font-family: Raleway;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 30px;
}

.containerCheck {
  display: flex;
}

.divider {
  height: 2px;
  opacity: 0.5;
  margin-top: 10px;
  border: none;
  background: #e5c231;
}

.guestPrice {
  color: rgba(0, 0, 0, 0.8);
  font-family: Raleway;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  display: flex;
  justify-content: center;
  align-items: center;
}
.checkBoxNone {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border-radius: 20px;
  border: 3px solid #998220;
}

.container:hover input ~ .checkmark {
  background-color: #ffd8364a;
}

.container input:checked ~ .checkmark {
  background-color: #ffd836;
}
