
.container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
}

.checkBoxNone {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #FFF;
  border-radius: 20px;
  border: 3px solid #998220;
}

.container:hover input ~ .checkmark {
  background-color: #ffd8364a;
}

.container input:checked ~ .checkmark {
  background-color: #FFD836;
}
